AZURE_AI_PROJECT_ENDPOINT="[FILL_IN_YOUR_PROJECT_ENDPOINT]"

AZURE_AI_MODEL_DEPLOYMENT_NAME="[Model_Deployment_Name]"

AI_SEARCH_PROJECT_CONNECTION_ID="[Foundry_Search_Connection_ID]"
AI_SEARCH_INDEX_NAME="[Foundry_Search_Index_Name]"

A2A_PROJECT_CONNECTION_ID="[A2A_Project_Connection_ID]"

AZURE_AI_EMBEDDING_MODEL_DEPLOYMENT_NAME="[Embedding_Model_Deployment_Name]"